.anchors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.Outlet{
    text-align: center;
    margin-top: 50px;
}
.user-section{
    border: 2px solid red;
    border-radius: 20px;
    margin-top: 16px;
    padding: 15px;
    width: 400px;
}
.users-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 50px;
}
.post-section{
    border: 2px solid red;
    border-radius: 20px;
    margin-top: 16px;
    padding: 15px;
}